<chapter xmlns="http://docbook.org/ns/docbook"
	 version="5.0"
	 xml:id="Events">
  
  <title>Holding Events</title>
  
  <para>
    Tips for holding events.
  </para>

  <section>
    <title>Finding Speakers</title>

    <para>Finding speakers is extremely easy if you know where to
    look. The easiest place to go for speakers is definitely the
    staff.  There are a lot of professors and researchers doing
    interesting things that wouldn't mind sharing their work.
    Graduate students will also jump at the chance to present their
    work in preparation for their thesis defence.</para>

    <para>Here's a simple email you could send to mailing lists:</para>
    
    <example>
      <title>Example Email to Mailing List</title>
      <para>
      Greetings,

      ACM is looking for speakers for the current Spring, and upcoming Fall,
      semester.  Any technical topic is acceptable -- even research, senior
      design project presentations, or an interesting topic/project you'd
      like to share with the club.  Please forward your suggestions to me
      regarding topics or potential speakers.
      
      We look forward to seeing you at the meetings.
      </para>
    </example>
    <para>If no one speaks up then it's time to go the club and see if
    any members would be willing to speak.</para>
    
    <para>Lastly, remember that no fish is too big.  We've gotten big
    deal speakers just by sending them a direct email.  Like Corey
    Haines and Richard Stallman.</para>

  </section>

  <section>
    <title>Coordinating With Speakers</title>

    <para> You can't communicate too much with a speaker, especially
    if they're travelling from out of town to come see us. Make sure
    they have all of the information they need.
    </para>

    <para>If the speaker is flying in, make sure that all of their
    expenses are handled with WVU (speak to the chair first to make
    the deparartment will pay of course). Ensure the speaker has a
    ride around town and arrives at the event with some time to
    spare.</para>

    <para>It's also good to walk the speaker around and introduce them
    to the faculty that may be in that day.</para>
    
    <para>Also, know when to give the speaker some space as well if
    you're going to be around them a lot. This was the case with Corey
    Haines. We basically asked him when he needed some alone time,
    etc.</para>
    
  </section>

  <section>
    <title>Food</title>
    <para>
      When ordering food for any sort of event, make sure to include a
      vegetarian option!
    </para>
  </section>

  <section>
    <title>Event Checklist</title>
    <itemizedlist>
      <listitem>
	<para>Event room is booked with the University.</para>
      </listitem>
      <listitem>
	<para>Flyers have been posted.</para>
      </listitem>
      <listitem>
	<para>Pizza has been ordered.</para>    
      </listitem>
      <listitem>
	<para>A post about the event has been posted on wvu.acm.org</para>
      </listitem>
      <listitem>
	<para>All mailing lists have been notified about the event.</para>
      </listitem>
      <listitem>
	<para>In the case of a larger event, press has been notified.</para>
      </listitem>
      <listitem>
	<para>Speaker will have access to a computer/laptop/projector in the event room.</para>
      </listitem>
    </itemizedlist>
  </section>

</chapter>